
.vs/TaskProject/config/applicationhost.config
.vs/TaskProject/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/TaskProject/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/TaskProject/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/TaskProject/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/TaskProject/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/TaskProject/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/TaskProject/DesignTimeBuild/.dtbcache.v2
.vs/TaskProject/FileContentIndex/4107c975-8be2-4d80-9719-2335d8c95806.vsidx
.vs/TaskProject/FileContentIndex/61a0501b-3152-460f-b093-77e2ae1cf803.vsidx
.vs/TaskProject/FileContentIndex/6e9af69e-4627-4102-ad74-6398df053d64.vsidx
.vs/TaskProject/FileContentIndex/73c99179-63fe-4dfe-a445-3e23edec75a4.vsidx
.vs/TaskProject/FileContentIndex/8efc6195-aade-47fb-a6ea-ef959cf02028.vsidx
.vs/TaskProject/FileContentIndex/d3ea6f64-19c9-4194-b031-83311f8ae47d.vsidx
.vs/TaskProject/FileContentIndex/d682d481-10d4-46ad-b1eb-dad1b4f8d158.vsidx
.vs/TaskProject/FileContentIndex/f0a3da5f-21dd-4806-8d8b-9ce1c27ea94a.vsidx
.vs/TaskProject/v17/.suo
.vs/TaskProject/v17/DocumentLayout.backup.json
.vs/TaskProject/v17/DocumentLayout.json
